.card-container {
    width: 320px;
    overflow: hidden;
    box-shadow: 0 0 15px -5px;
    border-radius: 5px;
}

.image-container img{
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.btn-container {
    margin-bottom: 1.5rem;
}

.btn {
    background-color: #AA0000;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    font-size: medium;
    font-weight: bold;
    color: #eaeaea;
}

.card-container:hover {
    cursor: pointer;
    transition: all linear 0.3s;
    transform: translateX(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

